.about-me {
    background-image: url('../images/about-me-banner.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 50px);
}

.connect img {
    width: 30px;
    height: 30px;
}

.developer img {
    width: 350px;
    margin: 0 auto;
}

@media only screen and (max-width: 576px) {
    .about-me {
        height: calc(130vh);
    }
}
